@* === TODO　要調整的地方 ===*@
@page "/A003"
@page "/A003/{Page:int}"

@inject NavigationManager NavMgr
@inject IDbContextFactory<TaiweiContext> DbFactory
@inject NavigationManager Nav


@inject A003Adapter QueryAdapter





<CompPageTitleA000 Title="@TITLE" />

<WrapperA @ref="Wrapper"
            FilterChanged="ReloadAsync"
            >
    <div class="container-fluid contacts-grid">

        <CompSearchA000 Filters="@QueryAdapter.f" />

        @if (QueryAdapter.f.Loading || Items == null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    Loading...
                </div>
            </div>
        }

        @if (Items != null)
        {
            <CompTableA000 Filters="@QueryAdapter.f"
                          Items="Items"
                          IsShowField="IsShowField"
                          ColumsToExcludeCSV="id" />
            //FieldMapper="QueryAdapter.f.FieldMappers"
        }

        @*NOTE by Mark,2021-01-18, 如果只有一頁, 不顯示分頁*@
        @if (@QueryAdapter.f.PageHelper.PageCount > 1)
        {
            <CompPagingA000 Filters="@QueryAdapter.f" />

        }
    </div>
</WrapperA>


@code
{

    [Parameter]
    public int Page //頁面上的分頁
    {
        get => QueryAdapter.f.PageHelper.Page;
        set
        {
            QueryAdapter.f.PageHelper.Page = value;
        }
    }



    /// <summary>
    /// A wrapper for grid-related activity
    /// </summary>
    //private GridWrapper Wrapper { get; set; }
    private WrapperA Wrapper { get; set; }


    private ICollection<Object> Objs { get; set; }

    // === 要調整的地方 ===
    private List<VInasn> Items { get; set; }

    //  List<FieldMapper> QueryAdapter.f.FieldMappers;
    // 自動化由顯示欄位自動選出預設, 可以 override
    // List<int> FMapper; // NOTE by Mark, 2021-01-21,參數用來決定篩選欄位是要取那些顯示欄位.
    private bool IsShowField = true;

    private string IsDisabled(bool condition) => !QueryAdapter.f.Loading && condition ? "" : "disabled";

    /// <summary>
    /// Keeps track of the last page loaded.
    /// </summary>
    private int _lastPage = -1;

    protected override void OnAfterRender(bool firstRender)
    {
        // Ensure we're on the same, er, right page.
        if (_lastPage < 1)
        {
            Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + "1");
            return;
        }

        // Normalize the page values.
        if (QueryAdapter.f.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + "1");
                return;
            }
            if (Page > QueryAdapter.f.PageHelper.PageCount)
            {
                Nav.NavigateTo(QueryAdapter.f.PageHelper.BaseUrl + QueryAdapter.f.PageHelper.PageCount);
                return;
            }
        }
        base.OnAfterRender(firstRender);
    }

    protected async override Task OnParametersSetAsync()
    {
        // Make sure the page really chagned.
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
        await base.OnParametersSetAsync();
    }

    private string TITLE = "入庫通知單";
    private string PRE = "A003";
    private string ENT = "VInasn";
    //private string PREENT = "A003VInasn";



    private async Task ReloadAsync()
    {
        if (QueryAdapter.f.Loading || Page < 1)
        {
            return;
        }

        QueryAdapter.f.Loading = true;

        Objs = null;
        Items = new();
        using var context = DbFactory.CreateDbContext();


        // === TODO 要調整的地方 ===
        //   Objs = await QueryAdapter.FetchAsyncV997(context, "VInasn");
        Objs = await QueryAdapter.FetchAsyncV997(context, ENT);


        //https://stackoverflow.com/questions/21533506/find-a-specified-generic-dbset-in-a-dbcontext-dynamically-when-i-have-an-entity
        var type = context.Model.FindEntityType(ENT);


        // === TODO 要調整的地方 ===
        foreach (VInasn x in Objs)
        {
            Items.Add(x);
        }



        QueryAdapter.f.Loading = false;
    }

    //private void UpdateItems<T>(ref List<T> Items, ICollection<Object> Objs)
    //{
    //    foreach (T x in Objs)
    //    {
    //        Items.Add(x);
    //    }
    //}


    protected override async Task OnInitializedAsync()
    {
        await ReloadAsync();
    }



    protected override void OnInitialized()
    {

        // === 要調整的地方 ===
        QueryAdapter.f.PageHelper.BaseUrl = "/A003/";

        // TODO, 準備要由 entity 裡選, 用 LIST 給顯示名


        // === 要調整的地方 ===
        Type type = typeof(VInasn);
        PropertyInfo[] properties = type.GetProperties();



        //ReadJson();
        QueryAdapter.ReadJson(type,PRE, ENT);


        //默認取第一個欄位, 正向排序
        QueryAdapter.defaultSortStr = QueryAdapter.f.FieldMappers[0].Id + "_1";




        // NOTE by Mark, 2021-01-23
        // 現在做自動生成,
        // 按顯示的欄位,選 string
        //
        // 指定欄位會映對到篩選的 input text
        // === 要調整的地方 ===
        //        QueryAdapter.f.FMapper = new List<int> { 0, 1, 2, 4 };

        QueryAdapter.UpdateFMapper(type);


        //QueryAdapter.f.FMapper = new();


        ////Type type = typeof(VInasn);
        ////PropertyInfo[] properties = type.GetProperties();
        //int k = 0;
        //foreach (var x in QueryAdapter.f.FieldMappers)
        //{
        //    //  x.Name
        //    foreach (var y in typeof(VInasn).GetProperties())
        //    {
        //        if (y.Name == x.Id)
        //        {
        //            if (y.PropertyType.Name.ToString() == "String")
        //            {
        //                //QueryAdapter.f.FMapper.Add(k);
        //                QueryAdapter.f.FMapper.Add(k);

        //            }

        //        }

        //    }
        //    k++;
        //}


    }

}



