@page "/A998"
@page "/A998/{Page:int}"
@inject NavigationManager NavMgr
@inject IDbContextFactory<TaiweiContext> DbFactory
@inject NavigationManager Nav
@inject A998Adapter Adapter

<CompPageTitleA000 Title="@TITLE" />

<WrapperA @ref="Wrapper" FilterChanged="ReloadAsync">
    <div class="container-fluid contacts-grid">
        <CompSearchA000 Filters="@Adapter.f" />
        @if (Adapter.f.Loading || Items == null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    載入資料中...
                </div>
            </div>
        }

        @if (Items != null)
        {
            <CompTableA000 Filters="@Adapter.f" Items="Items" />
        }

        @if (@Adapter.f.PageHelper.PageCount > 1)
        {
            <CompPagingA000 Filters="@Adapter.f" />
        }
    </div>
</WrapperA>

@code
{
    [Parameter]
    public int Page // 原範例,已更換變量 //頁面上的分頁
    {
        get => Adapter.f.PageHelper.Page;
        set
        {
            Adapter.f.PageHelper.Page = value;
        }
    }

    private WrapperA Wrapper { get; set; } // 整個頁面的剛性骨架

    private ICollection<Object> Objs { get; set; } // 技術梗,適時使用泛型

    private List<V2Outbill> Items { get; set; } // 本頁面要顯示的內容     // === 要調整的地方 ===

    private string IsDisabled(bool condition) => !Adapter.f.Loading && condition ? "" : "disabled";// 原範例,已更換變量

    private int _lastPage = -1;// 原範例,不動

    protected override void OnAfterRender(bool firstRender) // 原範例,已調整導航
    {
        // Ensure we're on the same, er, right page.
        if (_lastPage < 1)
        {
            Nav.NavigateTo(Adapter.f.PageHelper.BaseUrl + "1");
            return;
        }

        // Normalize the page values.
        if (Adapter.f.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Nav.NavigateTo(Adapter.f.PageHelper.BaseUrl + "1");
                return;
            }
            if (Page > Adapter.f.PageHelper.PageCount)
            {
                Nav.NavigateTo(Adapter.f.PageHelper.BaseUrl + Adapter.f.PageHelper.PageCount);
                return;
            }
        }
        base.OnAfterRender(firstRender);
    }

    protected async override Task OnParametersSetAsync() // 原範例,不動
    {
        // Make sure the page really chagned.
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
        await base.OnParametersSetAsync();
    }

    private string TITLE = "doing ...出庫單";
    private string PRE = "A998";
    private string ENT = "V2Outbill";

    private async Task ReloadAsync()
    {
        if (Adapter.f.Loading || Page < 1)
        {
            return;
        }

        Adapter.f.Loading = true; // --- start

    
        Items =await Adapter.GetConvertedItemsV2Async<V2Outbill>( DbFactory.CreateDbContext(), ENT);
        Adapter.f.Loading = false;// --- end
    }

    //private void UpdateItems()
    //{
    //    Items = new();
    //    foreach (V2Outbill x in Objs)   // === 要調整的地方 ===
    //    {
    //        Items.Add(x);
    //    }

    //}



    protected override async Task OnInitializedAsync()
    {
        await ReloadAsync();
    }

    protected override void OnInitialized()
    {
        Adapter.Start(typeof(V2Outbill), PRE, ENT);

        //1. 指定導航網址
        //Adapter.f.PageHelper.BaseUrl = "/" + PRE + "/";

        ////2. 讀取欄位定義, 如果不存在,以標準模板建立使用
        //Type type = typeof(V2Outbill); //注意模型還未放到指定的 namespace   // === 要調整的地方 ===
        //PropertyInfo[] properties = type.GetProperties();
        //Adapter.ReadJson(type, PRE, ENT);

        ////3. 設定默認排序    取第一個欄位, 正向排序
        //Adapter.defaultSortStr = Adapter.f.FieldMappers[0].Id + "_1";

        ////4. 設置篩選欄位, *** 要處理可篩選欄位不足 4 個 的情況
        //Adapter.UpdateFMapper(type);
    }
}



