@typeparam TItem
@using System.Reflection

<div style="margin-left: -16px">


    @if (memberInfo != null && memberInfo.Length > 0)
    {
        <table class="gridtable">
            <thead>
                <tr>
                    <th></th>
                    @foreach (var x in Filters.FieldMappers)
                    {
                        <th> @x.Name</th>
                    }

                </tr>
                @if (IsShowField)
                {
                    <tr>
                        <th>**</th>
                        @foreach (var x in Filters.FieldMappers)
                        {
                            <th> @x.Id</th>
                        }

                    </tr>

                }
                @*<tr>
                        @for ( int i=0; i< memberInfo.Count(); i++)
                        {

                            @if (memberInfo[i].MemberType == MemberTypes.Property && !ColumsToExcludeCSV.Contains(memberInfo[i].Name, StringComparison.OrdinalIgnoreCase))
                            {
                        <th>@memberInfo[i].Name</th>
                            }
                        }
                    </tr>*@
            </thead>
            <tbody>

                @foreach (var item in this.Items)
                {
                    RecNum = RecNum + 1;
                    <tr>
                        <th>@RecNum</th>

                        @foreach (var x in Filters.FieldMappers)
                        {
                            <td> @item.GetType().GetProperty(@x.Id).GetValue(item)</td>
                        }


                    </tr>
                }




            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="col-12 alert alert-warning">
                ( 查詢結果, 沒有任何記錄 )
            </div>
        </div>
    }

</div>

<div style="
    color:darkgrey;
        margin-bottom: 4px;
        margin-left: -16px">


    【參數】

    @foreach (var x in Filters.FilterContains)
    {
        if (x != null)
        {
            <span><span class="val">@x</span>&nbsp;</span>
        }
    }


    【排序】

    <span class="val"> @Filters.SortStr</span>&nbsp;<span class="val"> @Filters.SortStr2</span>

    【時間】<span class="val">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture)</span>

    <span style="background-color:pink">@Filters.ErrMsg</span>
</div>


@code { //https://www.youtube.com/watch?v=jsWVIV5ykQM



    [Parameter]
    public IFilters997 Filters { get; set; }

    int RecNum;


    // public int StartReccordNumber { get; set; }

    MemberInfo[] memberInfo;
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        RecNum = Filters.PageHelper.PageSize * (Filters.PageHelper.Page - 1);


        if (Items != null && Items.Count > 0)
        {
            Type typeofItem = this.Items[0].GetType();
            memberInfo = typeofItem.GetMembers();
        }


        foreach (var x in Filters.FieldMappers)
        {
            if (memberInfo != null) // NOTE by Mark, 2021-01-17, quick fix
            {
                for (int i = 0; i < memberInfo.Count(); i++)
                {

                    if (memberInfo[i].MemberType == MemberTypes.Property)
                    {
                        if (memberInfo[i].Name == x.Id)
                        {
                            x.Index = i;
                        }


                    }
                }

            }
            //  x.Index = 999;
        }
    }

    [Parameter]
    public bool IsShowField { get; set; } = false;


    [Parameter]
    public List<TItem> Items { get; set; }

    //[Parameter]
    //public List<FieldMapper> FieldMapper { get; set; }


    [Parameter]
    public string ColumsToExcludeCSV { get; set; }

    [Parameter]
    public string CssClass { get; set; }





}
